In [1]:
import pandas as pd
import numpy as np

In [4]:
df= pd.read_csv("data/amazon_transactions.csv")
df.head()

   transaction_id                                        transaction
0               1  A Beginner’s Guide, Java: The Complete Referen...
1               2  A Beginner’s Guide, Java: The Complete Referen...
2               3  A Beginner’s Guide, Java: The Complete Referen...
3               4  Android Programming: The Big Nerd Ranch, Head ...
4               5  Android Programming: The Big Nerd Ranch, Begin...

In [38]:
df_3 = np.array(df['transaction'])
ep = set()
for items in df_3:
    items = items.split(",")
    for ts in items:
        ts = ts.strip()
        #print(ts)
        ep.add(ts)

ep.remove("")
ep

{'A Beginner’s Guide',
 'Android Programming: The Big Nerd Ranch',
 'Beginning Programming with Java',
 'C++ Programming in Easy Steps',
 'HTML and CSS: Design and Build Websites',
 'Head First Java 2nd Edition',
 'Java 8 Pocket Guide',
 'Java For Dummies',
 'Java: The Complete Reference'}

In [9]:
df_1 = pd.read_csv("data/amazon_item_names.csv")
df_1.head()

   item_number                                item_name
0            1                       A Beginner’s Guide
1            2             Java: The Complete Reference
2            3                         Java For Dummies
3            4  Android Programming: The Big Nerd Ranch
4            5              Head First Java 2nd Edition

In [13]:
np.array(df_1["item_name"])

array(['A Beginner’s Guide', 'Java: The Complete Reference',
       'Java For Dummies', 'Android Programming: The Big Nerd Ranch',
       'Head First Java 2nd Edition', 'Beginning Programming with Java',
       'Java 8 Pocket Guide', 'C++ Programming in Easy Steps',
       'Effective Java (2nd Edition)',
       'HTML and CSS: Design and Build Websites'], dtype=object)